.main {
	text-align: center;
	padding: 0 2%;
}

.main h1 {
  color: #3e7cb1;
}

.main h3 {
	color: #3e7cb1;
	margin-bottom: 0;
}

.main h4{
	color: #6eaf87;
	margin-top: 0;
}

.main p {
	padding: 0;
}

.card {
	border-radius: 25px;
	width: 25%;
	padding: 6px;
	margin: 0 2% 3%;
	display: inline-block;
	text-align: center;
	border: 2px solid #9de1a5;
	max-width: 300px;
}

.proj {
	margin-bottom: 5%;
}

.card p {
	padding: 0.5em;
}

#proj1 {
}